gfe-db/pipeline/statemachines/load-concurrency-manager.asl.json
{
  "StartAt": "Receive SQS Message",
  "States": {
    "Receive SQS Message": {
      "Type": "Task",
      "Resource": "${LcmReceiveMessageFunctionArn}",
      "ResultPath": "$.sqs",
      "Next": "Message Received?"
    },
    "Message Received?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sqs.MessageId",
          "IsPresent": true,
          "Next": "Load Stage"
        }
      ],
      "Default": "Sleep 30"
    },
    "Sleep 30": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check Alarm State"
    },
    "Load Stage": {
        "Type": "Parallel",
        "OutputPath": "$.[2]",
        "Next": "Sync State",
        "Branches": [
            {
                "StartAt": "Execute Load Query",
                "States": {
                    "Execute Load Query": {
                        "Type": "Task",
                        "Resource": "${InvokeLoadScriptFunctionArn}",
                        "End": true
                    }
                }
            },
            {
                "StartAt": "Wait For Load 🕗",
                "States": {
                    "Wait For Load 🕗": {
                        "Type": "Task",
                        "Resource": "${LoadReleaseActivityArn}",
                        "InputPath": "$.sqs.Body",
                        "HeartbeatSeconds": 60,
                        "ResultPath": null,
                        "End": true
                    }
                }
            }
        ]
    },
    "Sync State": {
      "Type": "Pass",
      "Next": "Delete Message"
    },
    "Delete Message": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:deleteMessage",
        "Parameters": {
            "QueueUrl.$": "${GfeDbLoadQueueUrl}",
            "ReceiptHandle.$": "${sqs.ReceiptHandle}"
        },
      "Next": "Check Alarm State"
    },
    "Check Alarm State": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:cloudwatch:describeAlarms",
      "Parameters": {
        "AlarmNames": [
          "${GfeDbLoadQueueHasMessagesAlarmName}"
        ]
      },
      "ResultSelector": {
        "StateValue.$": "$.MetricAlarms[0].StateValue"
      },
      "Next": "Evaluate Alarm State"
    },
    "Evaluate Alarm State": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.StateValue",
          "StringMatches": "ALARM",
          "Next": "Sleep 10"
        }
      ],
      "Default": "Shut Down"
    },
    "Sleep 10": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Receive SQS Message"
    },
    "Shut Down": {
      "Type": "Succeed"
    }
  }
}