gfe-db/pipeline/statemachines/load-concurrency-manager.asl.json
{
    "StartAt": "Pre-Execution Backup",
    "States": {
        "Pre-Execution Backup": {
            "Type": "Task",
            "Resource": "${InvokeBackupScriptFunctionArn}",
            "ResultPath": "$.backups.pre",
            "Next": "Receive SQS Message",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.5
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Receive SQS Message"
                }
            ]            
        },
        "Receive SQS Message": {
            "Type": "Task",
            "Resource": "${LcmReceiveMessageFunctionArn}",
            "ResultPath": "$.sqs",
            "Next": "Message Received?"
        },
        "Message Received?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.sqs.MessageId",
                    "IsPresent": true,
                    "Next": "Load Stage"
                }
            ],
            "Default": "Wait for Message"
        },
        "Wait for Message": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Check Alarm State"
        },
        "Load Stage": {
            "Type": "Parallel",
            "OutputPath": "$",
            "Next": "Evaluate Load Status",
            "Branches": [
                {
                    "StartAt": "Execute Load Query",
                    "States": {
                        "Execute Load Query": {
                            "Type": "Task",
                            "Resource": "${InvokeLoadScriptFunctionArn}",
                            "ResultPath": "$",
                            "Next": "Get Load Command Status"
                        },
                        "Get Load Command Status": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
                            "Parameters": {
                                "CommandId.$": "$.ssm.CommandId",
                                "InstanceId.$": "$.ssm.InstanceId"
                            },
                            "Next": "Evaluate Load Command Status",
                            "ResultSelector": {
                                "CommandId.$": "$.CommandId",
                                "InstanceId.$": "$.InstanceId",
                                "Status.$": "$.Status"
                            },
                            "ResultPath": "$.ssm"
                        },
                        "Evaluate Load Command Status": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Or": [
                                        {
                                            "Variable": "$.ssm.Status",
                                            "StringEquals": "Failed"
                                        },
                                        {
                                            "Variable": "$.ssm.Status",
                                            "StringEquals": "Cancelled"
                                        },
                                        {
                                            "Variable": "$.ssm.Status",
                                            "StringEquals": "TimedOut"
                                        }
                                    ],
                                    "Next": "Handle Load Command Failure"
                                },
                                {
                                    "Variable": "$.ssm.Status",
                                    "StringEquals": "Success",
                                    "Next": "Load Success"
                                }
                            ],
                            "Default": "Wait for Status"
                        },
                        "Handle Load Command Failure": {
                            "Type": "Fail",
                            "Error": "LoadCommandFailed",
                            "Cause": "Load command execution failed"
                        },
                        "Wait for Status": {
                            "Type": "Wait",
                            "Seconds": 30,
                            "Next": "Get Load Command Status"
                        },
                        "Load Success": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Load Task",
                    "States": {
                        "Load Task": {
                            "Type": "Task",
                            "Resource": "${LoadReleaseActivityArn}",
                            "InputPath": "$.sqs.Body",
                            "HeartbeatSeconds": 60,
                            "ResultPath": null,
                            "End": true,
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "Handle Load Task Failure"
                                }
                            ]
                        },
                        "Handle Load Task Failure": {
                            "Type": "Pass",
                            "ResultPath": null,
                            "End": true
                        }
                    }
                }
            ]
        },
        "Evaluate Load Status": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$[1].Error",
                    "IsPresent": true,
                    "Next": "Return Message"
                }
            ],
            "Default": "Delete Message"
        },
        "Return Message": {
            "Type": "Task",
            "InputPath": "$[0]",
            "Resource": "arn:aws:states:::aws-sdk:sqs:changeMessageVisibility",
            "Parameters": {
                "QueueUrl": "${GfeDbLoadQueueUrl}",
                "ReceiptHandle.$": "$.sqs.ReceiptHandle",
                "VisibilityTimeout": 0
            },
            "ResultPath": null,
            "Next": "Update Status → LOAD_FAILED"
        },
        "Update Status → LOAD_FAILED": {
            "Type": "Pass",
            "Result": "LOAD_FAILED",
            "ResultPath": "$[0].sqs.Body.state.execution.status",
            "Next": "Sync State → LOAD_FAILED"
        },
        "Sync State → LOAD_FAILED": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Next": "Check Alarm State",
            "Parameters": {
                "TableName": "${GfeDbExecutionStateTable}",
                "Key": {
                    "commit__sha": {
                        "S.$": "$[0].sqs.Body.state.commit.sha"
                    },
                    "execution__version": {
                        "N.$": "States.Format('{}', $[0].sqs.Body.state.execution.version)"
                    }
                },
                "UpdateExpression": "SET execution__status = :status, updated_utc = :updated_utc, error__message = :error, error__cause = :cause",
                "ExpressionAttributeValues": {
                    ":status": {
                        "S.$": "$[0].sqs.Body.state.execution.status"
                    },
                    ":updated_utc": {
                        "S.$": "$$.State.EnteredTime"
                    },
                    ":error": {
                        "S.$": "$[1].Error"
                    },
                    ":cause": {
                        "S.$": "$[1].Cause"
                    }
                }
            }
        },
        "Delete Message": {
            "Type": "Task",
            "InputPath": "$[0]",
            "Resource": "arn:aws:states:::aws-sdk:sqs:deleteMessage",
            "Parameters": {
                "QueueUrl": "${GfeDbLoadQueueUrl}",
                "ReceiptHandle.$": "$.sqs.ReceiptHandle"
            },
            "ResultPath": null,
            "Next": "Update Status → LOAD_COMPLETE"
        },
        "Update Status → LOAD_COMPLETE": {
            "Type": "Pass",
            "Result": "LOAD_COMPLETE",
            "ResultPath": "$[0].sqs.Body.state.execution.status",
            "Next": "Sync State → LOAD_COMPLETE"
        },
        "Sync State → LOAD_COMPLETE": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "InputPath": "$[0]",
            "ResultPath": null,
            "Next": "Check Alarm State",
            "Parameters": {
                "TableName": "${GfeDbExecutionStateTable}",
                "Key": {
                    "commit__sha": {
                        "S.$": "$.sqs.Body.state.commit.sha"
                    },
                    "execution__version": {
                        "N.$": "States.Format('{}', $.sqs.Body.state.execution.version)"
                    }
                },
                "UpdateExpression": "SET execution__status = :status, updated_utc = :updated_utc",
                "ExpressionAttributeValues": {
                    ":status": {
                        "S.$": "$.sqs.Body.state.execution.status"
                    },
                    ":updated_utc": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            }
        },
        "Check Alarm State": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:describeAlarms",
            "Parameters": {
                "AlarmNames": [
                    "${UpdatePipelineStateMachineExecutionAlarmName}"
                ]
            },
            "ResultSelector": {
                "StateValue.$": "$.MetricAlarms[0].StateValue"
            },
            "Next": "Evaluate Alarm State"
        },
        "Evaluate Alarm State": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.StateValue",
                    "StringMatches": "ALARM",
                    "Next": "Sleep 10"
                },
                {
                    "Variable": "$.StateValue",
                    "StringMatches": "INSUFFICIENT_DATA",
                    "Next": "Sleep 10"
                }
            ],
            "Default": "Post-Execution Backup"
        },
        "Sleep 10": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "Receive SQS Message"
        },
        "Post-Execution Backup": {
            "Type": "Task",
            "Resource": "${InvokeBackupScriptFunctionArn}",
            "ResultPath": "$.backups.post",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.5
                }
            ],
            "End": true
        }
    }
}