gfe-db/pipeline/statemachines/mock-pipeline.asl.json
{
    "StartAt": "GfeDbBuildJobMap",
    "States": {
        "GfeDbBuildJobMap": {
            "Type": "Map",
            "Next": "GfeDbLoadMap",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "UpdateExecutionStateInProgress",
                "States": {
                    "UpdateExecutionStateInProgress": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::dynamodb:updateItem",
                        "ResultPath": null,
                        "Next": "GfeDbBuildJobMock",
                        "Parameters": {
                            "TableName": "${ExecutionStateTable}",
                            "Key": {
                                "commit__sha": {
                                    "S.$": "$.commit_sha"
                                },
                                "execution__version": {
                                    "N.$": "States.Format('{}', $.version)"
                                }
                            },
                            "UpdateExpression": "SET execution__status = :status",
                            "ExpressionAttributeValues": {
                                ":status": {
                                    "S": "IN_PROGRESS"
                                }
                            }
                        }
                    },
                    "GfeDbBuildJobMock": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:us-east-1:531868584498:function:GfeDbBuildJobMockFunction",
                        "ResultPath": "$.s3_path",
                        "End": true,
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "Next": "UpdateExecutionStateBuildFailed",
                                "ResultPath": "$.error"
                            }
                        ]
                    },
                    "UpdateExecutionStateBuildFailed": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::dynamodb:updateItem",
                        "ResultPath": null,
                        "End": true,
                        "Parameters": {
                            "TableName": "${ExecutionStateTable}",
                            "Key": {
                                "commit__sha": {
                                    "S.$": "$.commit_sha"
                                },
                                "execution__version": {
                                    "N.$": "States.Format('{}', $.version)"
                                }
                            },
                            "UpdateExpression": "SET execution__status = :status",
                            "ExpressionAttributeValues": {
                                ":status": {
                                    "S": "FAILED"
                                }
                            }
                        }
                    }
                }
            }
        },
        "GfeDbLoadMap": {
            "Type": "Map",
            "End": true,
            "MaxConcurrency": 1,
            "Iterator": {
                "StartAt": "GfeDbLoadGraph",
                "States": {
                    "GfeDbLoadGraph": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:us-east-1:531868584498:function:GfeDbLoadMockFunction",
                        "InputPath": "$.s3_path",
                        "ResultPath": null,
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "Next": "UpdateExecutionStateLoadFailed",
                                "ResultPath": "$.error"
                            }
                        ],
                        "Next": "UpdateExecutionStateSuccess"
                    },
                    "UpdateExecutionStateSuccess": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::dynamodb:updateItem",
                        "ResultPath": null,
                        "End": true,
                        "Parameters": {
                            "TableName": "${ExecutionStateTable}",
                            "Key": {
                                "commit__sha": {
                                    "S.$": "$.commit_sha"
                                },
                                "execution__version": {
                                    "N.$": "States.Format('{}', $.version)"
                                }
                            },
                            "UpdateExpression": "SET execution__status = :status",
                            "ExpressionAttributeValues": {
                                ":status": {
                                    "S": "SUCCESS"
                                }
                            }
                        }
                    },
                    "UpdateExecutionStateLoadFailed": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::dynamodb:updateItem",
                        "ResultPath": null,
                        "End": true,
                        "Parameters": {
                            "TableName": "${ExecutionStateTable}",
                            "Key": {
                                "commit__sha": {
                                    "S.$": "$.commit_sha"
                                },
                                "execution__version": {
                                    "N.$": "States.Format('{}', $.version)"
                                }
                            },
                            "UpdateExpression": "SET execution__status = :status",
                            "ExpressionAttributeValues": {
                                ":status": {
                                    "S": "FAILED"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}