gfe-db/pipeline/statemachines/pipeline.asl.json
{
    "StartAt": "Update release",
    "States": {
        "Update release": {
            "Type": "Map",
            "Next": "Finish",
            "MaxConcurrency": 1,
            "Iterator": {
                "StartAt": "BUILD_gfe-db",
                "States": {
                    "BUILD_gfe-db": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "ResultPath": null,
                        "Next": "LOAD-gfe-db",
                        "Parameters": {
                            "JobDefinition": "${BuildJobDefinition}",
                            "JobName": "${BuildJobName}",
                            "JobQueue": "${BuildJobQueue}",
                            "ContainerOverrides": {
                                "Environment": [
                                    {
                                        "Name": "RELEASES",
                                        "Value.$": "$.RELEASES"
                                    },
                                    {
                                        "Name": "ALIGN",
                                        "Value.$": "$.ALIGN"
                                    },
                                    {
                                        "Name": "KIR",
                                        "Value.$": "$.KIR"
                                    },
                                    {
                                        "Name": "MEM_PROFILE",
                                        "Value.$": "$.MEM_PROFILE"
                                    },
                                    {
                                        "Name": "LIMIT",
                                        "Value.$": "$.LIMIT"
                                    }
                                ]
                            }
                        }
                    },
                    "LOAD-gfe-db": {
                        "Type": "Task",
                        "Resource": "${InvokeLoadScriptFunctionArn}",
                        "End": true
                    }
                }
            }
        },
        "Finish": {
            "Type": "Succeed"
        }
    }
}
