gfe-db/pipeline/statemachines/pipeline.asl.json
{
    "StartAt": "Build Stage",
    "States": {
        "Build Stage": {
            "Type": "Map",
            "Next": "Load Stage",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "Generate CSV files",
                "States": {
                    "Generate CSV files": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "ResultPath": null,
                        "Next": "Build Success",
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "Next": "Build Error"
                            }
                        ],
                        "Parameters": {
                            "JobDefinition": "${BuildJobDefinition}",
                            "JobName": "${BuildJobName}",
                            "JobQueue": "${BuildJobQueue}",
                            "ContainerOverrides": {
                                "Environment": [
                                    {
                                        "Name": "RELEASES",
                                        "Value.$": "$.RELEASES"
                                    },
                                    {
                                        "Name": "ALIGN",
                                        "Value.$": "$.ALIGN"
                                    },
                                    {
                                        "Name": "KIR",
                                        "Value.$": "$.KIR"
                                    },
                                    {
                                        "Name": "MEM_PROFILE",
                                        "Value.$": "$.MEM_PROFILE"
                                    },
                                    {
                                        "Name": "LIMIT",
                                        "Value.$": "$.LIMIT"
                                    }
                                ]
                            }
                        }
                    },
                    "Build Error": {
                        "Type": "Pass",
                        "End": true
                    },
                    "Build Success": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            }
        },
        "Load Stage": {
            "Type": "Map",
            "End": true,
            "MaxConcurrency": 1,
            "Iterator": {
                "StartAt": "Load Data",
                "States": {
                    "Load Data": {
                        "Type": "Parallel",
                        "Next": "Load Success",
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "Next": "Load Error"
                            }
                        ],
                        "Branches": [
                            {
                                "StartAt": "Invoke Load Script",
                                "States": {
                                    "Invoke Load Script": {
                                        "Type": "Task",
                                        "Resource": "${InvokeLoadScriptFunctionArn}",
                                        "End": true
                                    }
                                }
                            },
                            {
                                "StartAt": "Load GFEs",
                                "States": {
                                    "Load GFEs": {
                                        "Type": "Task",
                                        "Resource": "${LoadNeo4jActivityArn}",
                                        "HeartbeatSeconds": 60,
                                        "End": true
                                    }
                                }
                            }
                        ]
                    },
                    "Load Error": {
                        "Type": "Pass",
                        "End": true
                    },
                    "Load Success": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            }
        }
    }
}